@import '../../../styles/typography';

.basic-info-title {
    @include large;
}

::ng-deep {
    .models-select {
        .selected-items {
            max-width: 220px;
        }
    }
}

.registration-date-wrapper {
    display: flex;
}

.registration-year-error,
.price-error {
    @include small;
    margin-left: 20px;
    color: var(--ion-color-danger);
}
