@import '../../../styles/typography';

.basic-info-title {
    @include large;
}

.select-item {
    margin-top: 15px;
}

.search-label {
    padding-left: 10px;
    font-family: var(--ion-font-family);
    color: var(--ion-color-primary);
    font-weight: 600;
}

::ng-deep {
    .models-select {
        .selected-items {
            max-width: 220px;
        }
    }
}

.body-style-item,
.fuel-type-item {
    width: 350px;
    margin-top: 15px;
}
