<ion-header *transloco="let t">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/car-list" [text]="t('common.actions.back')"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ t('filters.title') }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *transloco="let t" class="car-filters-content">
    <form [formGroup]="basicInformationForm">
        <ion-accordion-group (ionChange)="onAccordionChange($event)">
            <ion-accordion [value]="filtersAccordionGroups.BASIC_INFORMATION">
                <ion-item slot="header" color="light">
                    <ion-label class="basic-info-title">
                        {{ t('filters.sections.basic_information') }}
                    </ion-label>
                </ion-item>
                <ion-grid slot="content" class="basic-info-grid">
                    <ion-row>
                        <ion-col>
                            <ion-item (click)="carBrandSelect.open()">
                                <ion-label [class.remove-item]="basicInformationForm.controls.brand.value.length">{{
                                    t('filters.search_car_brands')
                                }}</ion-label>
                                <car-searchable-select
                                    #carBrandSelect
                                    formControlName="brand"
                                    [multiple]="false"
                                    [data]="carBrands()"
                                    [visibleValue]="CAR_BRAND_VISIBLE_VALUE"
                                    [hiddenValue]="CAR_BRAND_HIDDEN_VALUE"
                                >
                                    <ion-title class="title">{{ t('common.car_brands') }}</ion-title>
                                </car-searchable-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item
                                (click)="carModelsSelect.open()"
                                [disabled]="!basicInformationForm.controls.brand.value.length"
                            >
                                <ion-label [class.remove-item]="basicInformationForm.controls.brand.value.length">{{
                                    t('filters.search_car_models')
                                }}</ion-label>
                                <car-searchable-select
                                    #carModelsSelect
                                    class="models-select"
                                    formControlName="models"
                                    [multiple]="true"
                                    [data]="carModels()"
                                    [visibleValue]="CAR_MODELS_VISIBLE_VALUE"
                                    [hiddenValue]="CAR_MODELS_HIDDEN_VALUE"
                                ></car-searchable-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="bodyStyles"
                                    interface="popover"
                                    [label]="t('filters.body_style')"
                                    [multiple]="true"
                                >
                                    @for (bodyStyle of bodyStyles; track bodyStyle.key) {
                                        <ion-select-option [value]="bodyStyle.key">
                                            {{ bodyStyle.value }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="fuelTypes"
                                    interface="popover"
                                    [label]="t('filters.fuel_type')"
                                    [multiple]="true"
                                >
                                    @for (fuelType of fuelTypes; track fuelType.key) {
                                        <ion-select-option [value]="fuelType.key">
                                            {{ fuelType.value }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row formGroupName="registrationYear">
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="registrationYearFrom"
                                    labelPlacement="floating"
                                    interface="popover"
                                    [label]="t('filters.registration_from')"
                                >
                                    <ion-select-option [value]="null">
                                        {{ t('common.none') }}
                                    </ion-select-option>
                                    @for (year of registrationYears; track year) {
                                        <ion-select-option [value]="year">
                                            {{ year }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="registrationYearTo"
                                    labelPlacement="floating"
                                    interface="popover"
                                    [label]="t('filters.registration_to')"
                                >
                                    <ion-select-option [value]="null">
                                        {{ t('common.none') }}
                                    </ion-select-option>
                                    @for (year of registrationYears; track year) {
                                        <ion-select-option [value]="year">
                                            {{ year }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    @if (basicInformationForm.controls.registrationYear.errors?.registrationYearInvalid) {
                        <div class="registration-year-error">
                            {{ t('filters.validations.registration_year') }}
                        </div>
                    }

                    <ion-row formGroupName="price">
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="priceFrom"
                                    interface="popover"
                                    labelPlacement="floating"
                                    [label]="t('filters.price_from')"
                                >
                                    <ion-select-option [value]="null">
                                        {{ t('common.none') }}
                                    </ion-select-option>
                                    @for (price of prices; track price) {
                                        <ion-select-option [value]="price">
                                            {{ price + euros }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="priceTo"
                                    interface="popover"
                                    labelPlacement="floating"
                                    [label]="t('filters.price_to')"
                                >
                                    <ion-select-option [value]="null">
                                        {{ t('common.none') }}
                                    </ion-select-option>
                                    @for (price of prices; track price) {
                                        <ion-select-option [value]="price">
                                            {{ price + euros }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    @if (basicInformationForm.controls.price.errors?.priceInvalid) {
                        <div class="price-error">
                            {{ t('filters.validations.price') }}
                        </div>
                    }

                    <ion-row formGroupName="kilometers">
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="kilometersFrom"
                                    interface="popover"
                                    labelPlacement="floating"
                                    [label]="t('filters.kilometers_from')"
                                >
                                    <ion-select-option [value]="null">
                                        {{ t('common.none') }}
                                    </ion-select-option>
                                    @for (item of kilometers; track item) {
                                        <ion-select-option [value]="item">
                                            {{ item }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="kilometersTo"
                                    interface="popover"
                                    labelPlacement="floating"
                                    [label]="t('filters.kilometers_to')"
                                >
                                    <ion-select-option [value]="null">
                                        {{ t('common.none') }}
                                    </ion-select-option>
                                    @for (item of kilometers; track item) {
                                        <ion-select-option [value]="item">
                                            {{ item }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    @if (basicInformationForm.controls.kilometers.errors?.kilometersTravelledInvalid) {
                        <div class="kilometers-travelled-error">
                            {{ t('filters.validations.kilometers_travelled') }}
                        </div>
                    }

                    <ion-row formGroupName="power">
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="unit"
                                    interface="popover"
                                    labelPlacement="floating"
                                    [label]="t('filters.power_unit')"
                                >
                                    @for (unit of powerUnits; track unit.key) {
                                        <ion-select-option [value]="unit.key">
                                            {{ unit.value }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>

                        <ion-col>
                            <ion-item>
                                <ion-input
                                    formControlName="powerFrom"
                                    labelPlacement="floating"
                                    [label]="t('filters.power_from')"
                                ></ion-input>
                            </ion-item>
                        </ion-col>

                        <ion-col>
                            <ion-item>
                                <ion-input
                                    formControlName="powerTo"
                                    labelPlacement="floating"
                                    [label]="t('filters.power_to')"
                                ></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    @if (basicInformationForm.controls.power.errors?.powerInvalid) {
                        <div class="power-error">
                            {{ t('filters.validations.power') }}
                        </div>
                    }

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-select
                                    formControlName="transmissionTypes"
                                    interface="popover"
                                    [placeholder]="t('filters.transmission_type')"
                                    [multiple]="true"
                                >
                                    @for (type of transmissionTypes; track type.key) {
                                        <ion-select-option [value]="type.key">
                                            {{ type.value }}
                                        </ion-select-option>
                                    }
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-accordion>
            <ion-accordion [value]="filtersAccordionGroups.EQUIPMENT">
                <ion-item slot="header" color="light">
                    <ion-label class="basic-info-title">
                        {{ t('filters.sections.equipment') }}
                    </ion-label>
                </ion-item>
                <ion-grid slot="content" class="equipment-grid">
                    @for (option of CAR_FILTERS_EQUIPMENT_OPTIONS; track option.key) {
                        <ion-row>
                            <ion-col>
                                <ion-checkbox
                                    labelPlacement="end"
                                    (ionChange)="equipmentOptionChanged($event, option.key)"
                                >
                                    {{ t(option.value) }}
                                </ion-checkbox>
                            </ion-col>
                        </ion-row>
                    }
                </ion-grid>
            </ion-accordion>
        </ion-accordion-group>

        <ion-button color="primary" class="search-btn" (click)="searchCars()">
            @if (carsFiltersResultsCount() === ZERO_CAR_RESULTS_COUNT) {
                {{ t('common.n_results_plural', { n: carsFiltersResultsCount() }) }}
            } @else {
                @if (carsFiltersResultsCount()) {
                    @if (carsFiltersResultsCount() === SINGULAR_COUNT_CAR_RESULT) {
                        {{ t('common.n_results_singular', { n: carsFiltersResultsCount() }) }}
                    } @else {
                        {{ t('common.n_results_plural', { n: carsFiltersResultsCount() }) }}
                    }
                } @else {
                    {{ t('common.actions.search') }}
                }
            }
        </ion-button>
    </form>
</ion-content>
