<ion-header *transloco="let t">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/recommended-cars" [text]="t('common.actions.back')"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ t('filters.title') }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *transloco="let t">
    <ion-accordion-group>
        <ion-accordion [value]="filtersAccordionGroups.BASIC_INFORMATION">
            <ion-item slot="header" color="light">
                <ion-label class="basic-info-title">
                    {{ t('filters.sections.basic_information') }}
                </ion-label>
            </ion-item>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>
