<ng-container *transloco="let t">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
            </ion-buttons>
            <ion-title>{{ t('settings.languages') }}</ion-title>
        </ion-toolbar>
    </ion-header>
</ng-container>

<ion-content>
    <ng-container *transloco="let t">
        <ion-list>
            @for (language of LANGUAGES_DATA; track language.key) {
                <ion-radio-group>
                    <ion-item>
                        <ion-radio>
                            {{ t(language.value) }}
                        </ion-radio>
                    </ion-item>
                </ion-radio-group>
            }
        </ion-list>
    </ng-container>
</ion-content>
