@import '../../../styles/typography';

.image {
    width: 100%;
    height: 250px;
}

.car-details-container {
    margin-top: 5px;

    .title {
        @include large-bold;
        margin-left: 15px;
        color: var(--ion-color-primary);
    }

    .base-info {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;

        .price {
            @include large;
            margin-left: 15px;
        }

        .location {
            display: flex;
            align-items: center;
            column-gap: 5px;

            .value {
                @include medium;
            }
        }
    }

    .meta {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-around;
        padding: 10px 15px 0 15px;

        .section {
            display: flex;
            width: 50%;
            column-gap: 10px;

            .meta-data-wrapper {
                display: flex;
                flex-direction: column;

                .key {
                    @include medium;
                    color: var(--ion-color-medium);
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                }

                .value {
                    text-align: center;
                    @include medium;
                }
            }
        }
    }
}

ion-icon {
    width: 20px;
    height: 20px;
}

.divider,
.small-divider {
    width: 100%;
    height: 1px;
    background-color: var(--ion-color-light);
    margin: 20px 0;
}

.small-divider {
    margin: 10px 0;
}
