<ng-container *transloco="let t">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button
                    defaultHref="/tabs/recommended-cars"
                    [text]="t('common.actions.back')"
                ></ion-back-button>
            </ion-buttons>
            <ion-title>{{ t('car_details.title') }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        @if (areCarDetailsNotLoading$ | async) {
            @if (carDetails$ | async; as carDetails) {
                <swiper-container [pagination]="true">
                    @for (image of carDetails.images; track image) {
                        <swiper-slide>
                            <img class="image" [alt]="image" [src]="image" />
                        </swiper-slide>
                    }
                </swiper-container>
                <div class="car-details-container">
                    <div class="title">
                        {{ carDetails.brand + ' ' + carDetails.modelName }}
                    </div>
                    <div class="small-divider"></div>
                    <div class="base-info">
                        <div class="price">
                            <ion-icon name="cash-outline" color="primary"></ion-icon>
                            <div class="value">
                                {{ carDetails.price + carDetails.currencySymbol }}
                            </div>
                        </div>
                        <div class="location">
                            <ion-icon name="location-outline" color="primary"></ion-icon>
                            <div class="value">
                                {{ carDetails.countryOrigin }}
                            </div>
                        </div>
                    </div>
                    <div class="small-divider"></div>
                    <div class="meta">
                        <div class="section">
                            <ion-icon name="calendar-outline" color="primary"></ion-icon>
                            <div class="meta-data-wrapper">
                                <div class="key">
                                    {{ t('car_details.first_registration_date') }}
                                </div>
                                <div class="value">
                                    {{ carDetails.firstRegistrationDate | date: DATE_FORMAT }}
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <ion-icon name="people-outline" color="primary"></ion-icon>
                            <div class="meta-data-wrapper">
                                <div class="key">
                                    {{ t('car_details.number_of_previous_owners') }}
                                </div>
                                <div class="value">
                                    {{ carDetails.noOfPreviousOwners }}
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <ion-icon name="bar-chart-outline" color="primary"></ion-icon>
                            <div class="meta-data-wrapper">
                                <div class="key">
                                    {{ t('car_details.kilometers_travelled') }}
                                </div>
                                <div class="value">
                                    {{ carDetails.kilometersTravelled + KILOMETERS_TRAVELLED_SHORT }}
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <ion-icon name="timer-outline" color="primary"></ion-icon>
                            <div class="meta-data-wrapper">
                                <div class="key">
                                    {{ t('car_details.horse_power') }}
                                </div>
                                @if (selectedLanguage$ | async; as selectedLanguage) {
                                    <div class="value">
                                        {{
                                            carDetails.horsePower +
                                                HORSE_POWER_TRANSLATION[selectedLanguage] +
                                                ' (' +
                                                carDetails.kilowatts +
                                                KILOWATTS +
                                                ')'
                                        }}
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="basic-information">
                        <div class="title">
                            <ion-icon name="car-sport-outline" color="primary"></ion-icon>
                            {{ t('car_details.basic_information.title') }}
                        </div>
                        <ion-grid class="info-grid">
                            <ion-row>
                                <ion-col class="seller-type">
                                    {{ t('car_details.basic_information.seller_type') }}
                                </ion-col>
                                <ion-col>
                                    {{ t('common.seller_type.' + (carDetails.sellerType | camelToSnakeCase)) }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="fuel-type">
                                    {{ t('car_details.basic_information.fuel_type') }}
                                </ion-col>
                                <ion-col>
                                    {{ carDetails.fuelType }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="release-date">
                                    {{ t('car_details.basic_information.release_date') }}
                                </ion-col>
                                <ion-col>
                                    {{ carDetails.releaseDate | date: DATE_FORMAT }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="body-style">
                                    {{ t('car_details.basic_information.body_style') }}
                                </ion-col>
                                <ion-col>
                                    {{ carDetails.bodyStyle }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="color">
                                    {{ t('car_details.basic_information.color') }}
                                </ion-col>
                                <ion-col>
                                    {{ carDetails.color }}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="wheel-drive-type">
                                    {{ t('car_details.basic_information.wheel_drive_type') }}
                                </ion-col>
                                <ion-col>
                                    {{ carDetails.wheelDriveType }}
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            }
        } @else {
            <div class="spinner-wrapper">
                <ion-spinner color="primary"></ion-spinner>
            </div>
        }
    </ion-content>
</ng-container>
