@import '../../../styles/typography';

.image {
    width: 100%;
    height: 250px;
}

.car-details-container {
    margin-top: 5px;

    .title {
        @include large-bold;
        margin-left: 15px;
        color: var(--ion-color-primary);
    }

    .price {
        @include extra-large;
        margin-left: 15px;
    }

    .meta {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-around;

        .section {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            .key {
                @include medium;
                color: var(--ion-color-medium);
                display: flex;
                align-items: center;
                column-gap: 5px;
            }

            .value {
                text-align: center;
            }
        }
    }
}

.divider,
.small-divider {
    width: 100%;
    height: 1px;
    background-color: var(--ion-color-light);
    margin: 20px 0;
}

.small-divider {
    margin: 10px 0;
}
