<ion-tabs>
    <ng-container *transloco="let t">
        <ion-tab-bar slot="bottom">
            @if (isAuthenticated$ | async) {
                <ion-tab-button tab="recommended-cars" href="/tabs/recommended-cars">
                    <ion-icon name="car-sport-sharp"></ion-icon>
                    <ion-label>{{ t('tabs.car_list') }}</ion-label>
                </ion-tab-button>
                <ion-tab-button tab="favourites" href="/tabs/favourites">
                    <ion-icon name="bookmark-sharp"></ion-icon>
                    <ion-label>{{ t('tabs.favourite_list') }}</ion-label>
                </ion-tab-button>
                <ion-tab-button tab="settings" href="/tabs/settings">
                    <ion-icon name="settings-sharp"></ion-icon>
                    <ion-label>{{ t('tabs.settings') }}</ion-label>
                </ion-tab-button>
            } @else {
                <ion-tab-button tab="auth" href="/tabs/auth">
                    <ion-icon name="log-in-sharp"></ion-icon>
                    <ion-label>{{ t('tabs.auth') }}</ion-label>
                </ion-tab-button>
            }
        </ion-tab-bar>
    </ng-container>
</ion-tabs>
