
:host {
    flex: 50%;

    .item {
        margin: 0;
        width: 175px;

        .image {
            width: 175px;
            height: 130px;
        }

        .title {
            font-size: var(--ion-font-m);
            font-weight: bold;
        }

        &-content {
            padding: 10px;

            .price {
                font-size: var(--ion-font-m);
                margin-bottom: 5px;
            }

            .info {
                font-size: var(--ion-font-s);
                margin-bottom: 5px;
            }

            .location {
                display: flex;
                align-items: center;

                .icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }

                .name {
                    font-size: var(--ion-font-s);
                }
            }
        }
    }
}
