<ion-card>
    <swiper-container #swiperElement [pagination]="true">
        @if (car) {
            @for (image of car.images; track car.id) {
                <swiper-slide>
                    <img [alt]="image" [src]="image" />
                </swiper-slide>
            }
            <ion-card-header>
                <ion-card-title>
                    {{ car.brand + ' ' + car.modelName }}
                </ion-card-title>
            </ion-card-header>
        }
    </swiper-container>
</ion-card>
