<ng-container *transloco="let t">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>{{ t('tabs.settings') }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="settings-content ion-padding" [fullscreen]="true">
        <div class="profile">
            {{ t('settings.profile') }}
        </div>

        <div class="avatar-container">
            <div class="avatar-wrapper">
                @if (userAvatar(); as avatar) {
                    <div class="img-wrapper">
                        <img class="user-image" [src]="avatar" />
                    </div>
                } @else {
                    <div class="initials">
                        {{ initials() }}
                    </div>
                }
                <div class="actions">
                    <ion-icon name="pencil" color="primary" (click)="fileInput.click()"></ion-icon>
                    <ion-icon name="trash" color="primary"></ion-icon>
                </div>

                <input #fileInput type="file" class="file-input" (change)="onFilePickerChange($event)" />
            </div>
        </div>

        <div class="title">
            {{ t('settings.title') }}
        </div>
        <ion-list class="list">
            <ion-item button class="item" routerDirection="forward" [routerLink]="['/', 'tabs', 'languages']">
                <ion-icon slot="start" name="language-sharp" size="large"></ion-icon>
                <ion-label>
                    {{ t('settings.languages') }}
                </ion-label>
                <ion-note slot="end">
                    {{ LANGUAGES_COUNT }}
                </ion-note>
            </ion-item>

            <ion-item button class="item" routerDirection="forward" [routerLink]="['/', 'tabs', 'profile-details']">
                <ion-icon slot="start" name="person-circle-outline" size="large"></ion-icon>
                <ion-label>
                    {{ t('settings.profile_details') }}
                </ion-label>
            </ion-item>
        </ion-list>
        <a class="logout-text" (click)="logout()">
            {{ t('settings.logout') }}
        </a>
    </ion-content>
</ng-container>
