
ion-item {
    margin-top: 10px;
}

.save-btn {
    text-decoration: underline;
}

.datetime-item {
    .date-value {
        margin-right: 10px;
    }

    .datetime-icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}
