<ng-container *transloco="let t">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/tabs/settings" [text]="t('common.actions.back')"></ion-back-button>
            </ion-buttons>
            <ion-title>{{ t('settings.profile_details') }}</ion-title>
            <ion-buttons slot="end">
                <ion-button class="save-btn" (click)="saveProfileDetails()">
                    {{ t('common.actions.save') }}
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
        @if (areSettingsNotLoading$ | async) {
            @if (profileDetails(); as profileDetails) {
                <form #form="ngForm">
                    <div class="avatar-container">
                        <div class="avatar-wrapper">
                            @if (profileDetails.avatar) {
                                <div class="img-wrapper">
                                    <img class="user-image" [src]="profileDetails.avatar" />
                                </div>
                            } @else {
                                <div class="initials">
                                    {{ initials() }}
                                </div>
                            }
                            <div class="actions">
                                <ion-icon name="pencil" color="primary" (click)="fileInput.click()"></ion-icon>
                                <ion-icon name="trash" color="primary" (click)="resetProfilePicture()"></ion-icon>
                            </div>

                            <input #fileInput type="file" class="file-input" (change)="onFilePickerChange($event)" />
                        </div>
                    </div>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-input
                                        required
                                        type="text"
                                        name="first-name"
                                        labelPlacement="floating"
                                        [placeholder]="t('auth.personal_information.enter_first_name')"
                                        [label]="t('auth.personal_information.first_name')"
                                        [ngModel]="profileDetails.firstName"
                                        (ngModelChange)="setFirstName($event)"
                                    ></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-input
                                        required
                                        type="text"
                                        name="last-name"
                                        labelPlacement="floating"
                                        [placeholder]="t('auth.personal_information.enter_last_name')"
                                        [label]="t('auth.personal_information.last_name')"
                                        [ngModel]="profileDetails.lastName"
                                        (ngModelChange)="setLastName($event)"
                                    ></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            }
        } @else {
            <div class="skeleton-container">
                <ion-thumbnail class="thumbnail">
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </ion-thumbnail>
                <div class="skeleton-actions">
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </div>
                <ion-skeleton-text class="first-name-skeleton-text" [animated]="true"></ion-skeleton-text>
                <ion-skeleton-text class="last-name-skeleton-text" [animated]="true"></ion-skeleton-text>
            </div>
        }
    </ion-content>
</ng-container>
