<ng-container *transloco="let t">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>{{ t('auth.sign_up') }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">{{ t('auth.sign_up') }}</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button fill="outline" class="google-btn">
                        <ion-icon name="logo-google" slot="start" class="google-icon"></ion-icon>
                        <ion-text class="google-text">
                            {{ t('auth.continue_with_google') }}
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button fill="outline" class="apple-btn">
                        <ion-icon name="logo-apple" slot="start" class="apple-icon"></ion-icon>
                        <ion-text class="apple-text">
                            {{ t('auth.continue_with_apple') }}
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="or-wrapper">
                        <hr class="horizontal-line" />
                        <ion-text class="text">
                            {{ t('common.or') }}
                        </ion-text>
                        <hr class="horizontal-line" />
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-input type="text" labelPlacement="floating" [label]="'Enter dial code'"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-input type="text" [label]="'Enter phone number'"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button color="primary" class="sign-up-btn">{{ t('common.continue') }}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ng-container>
