
.desktop-mode {
    margin-top: 40px;
}

.row {
    &:not(:last-of-type) {
        margin-bottom: 20px;
    }
}

.google-btn,
.apple-btn {
    width: 100%;
    height: 40px;
    margin: 0;

    .google-icon,
    .apple-icon {
        margin-right: 15px;
    }

    .google-text,
    .apple-text {
        font-size: var(--ion-font-m);
        line-height: 20px;
    }
}

.or-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .horizontal-line {
        height: 1px;
        width: calc(50% - 30px);
        background-color: var(--ion-color-dark);
    }

    .text {
        font-size: var(--ion-font-l);
        line-height: 24px;
        margin: 0 14px;
    }
}

.phone-input {
    width: 100%;
    height: 100%;
    padding-left: 96px !important;
}

.sign-up-btn {
    width: 100%;
    margin: 0;
}

.verification-content {
    position: relative;

    &--container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;

        .text {
            margin-bottom: 10px;
            font-size: var(--ion-font-l);
            line-height: 24px;
            text-align: center;
        }
    }

    .verification-code-error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
        height: 100%;

        .text {
            font-size: var(--ion-font-l);
            line-height: 24px;
        }
    }

    .spinner-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
