<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{ 'auth.sign_in' | transloco }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ 'auth.sign_in' | transloco }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <form [formGroup]="form">
        <ion-grid [class.desktop-mode]="isDesktopMode$ | async">
            <ion-row class="row">
                <ion-col size-sm="4" offset-sm="4">
                    <ion-button fill="outline" class="google-btn">
                        <ion-icon name="logo-google" slot="start" class="google-icon"></ion-icon>
                        <ion-text class="google-text">
                            {{ 'auth.continue_with_google' | transloco }}
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row class="row">
                <ion-col size-sm="4" offset-sm="4">
                    <ion-button fill="outline" class="apple-btn">
                        <ion-icon name="logo-apple" slot="start" class="apple-icon"></ion-icon>
                        <ion-text class="apple-text">
                            {{ 'auth.continue_with_apple' | transloco }}
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row class="row">
                <ion-col size-sm="4" offset-sm="4">
                    <div class="or-wrapper">
                        <hr class="horizontal-line" />
                        <ion-text class="text">
                            {{ 'common.or' | transloco }}
                        </ion-text>
                        <hr class="horizontal-line" />
                    </div>
                </ion-col>
            </ion-row>

            <ion-row class="row">
                <ion-col size-sm="4" offset-sm="4">
                    <input #phoneEl type="tel" class="phone-input" formControlName="phoneNumber" />
                </ion-col>
            </ion-row>

            <ion-row class="row">
                <ion-col size-sm="4" offset-sm="4">
                    <ion-button color="primary" class="sign-up-btn" (click)="continueWithPhoneNumber()">{{
                        'common.continue' | transloco
                    }}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <ion-modal [isOpen]="isVerificationOpened()" (keydown.escape)="closeVerificationModal()">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>{{ 'auth.phone_verification' | transloco }}</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="closeVerificationModal()">{{ 'common.cancel' | transloco }}</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="verification-content" *ngIf="isNotSMSLoading$ | async; else smsLoading">
                <div class="verification-content--container">
                    <ion-text class="text">
                        {{ 'auth.enter_verification_code' | transloco }}
                    </ion-text>
                    <ion-grid>
                        <ion-row>
                            <ng-container *ngFor="let codeValue of codeValues(); let i = index">
                                <ion-col>
                                    <ion-input
                                        #code
                                        fill="outline"
                                        mode="md"
                                        type="number"
                                        [(ngModel)]="codeValue.code"
                                        (input)="onCodeChange($event, i)"
                                    ></ion-input>
                                </ion-col>
                            </ng-container>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-content>
            <ng-template #smsLoading>
                <ion-spinner color="primary"></ion-spinner>
            </ng-template>
        </ng-template>
    </ion-modal>
</ion-content>
