<ion-content *transloco="let t">
    @if (areRecommendedCarsNotLoading$ | async) {
        @if (recommendedCars$ | async; as recommendedCars) {
            <div class="search-cars-wrapper">
                <ion-button class="search-btn" (click)="searchCars()">
                    <ion-icon name="search-sharp" slot="start"></ion-icon>
                    {{ t('recommended_cars.search_cars') }}
                </ion-button>
            </div>
            <div class="recommended-cars-container">
                <ion-text class="title">
                    {{ t('recommended_cars.title') }}
                </ion-text>
                <div class="content">
                    @for (car of recommendedCars; track car.id) {
                        <car-item
                            [car]="car"
                            [routerLink]="['/', 'tabs', 'car', car.id]"
                            (emitHandleFavourites)="handleFavouritesActions($event)"
                        ></car-item>
                    } @empty {
                        <img src="../../../assets/images/common/icons8-search-50.png" class="empty-image" />
                        <div
                            class="ion-text-center"
                            [innerHTML]="
                                t('recommended_cars.empty_recommended_cars')
                                    | carDomSanitizer: DOM_SANITIZER_INPUT_VALUE
                            "
                        ></div>
                    }
                </div>
            </div>
            <ion-infinite-scroll [disabled]="hasNoMoreRecommendedCars$ | async" (ionInfinite)="onScrollDown($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        }
    } @else {
        <div class="spinner-wrapper">
            <ion-spinner color="primary"></ion-spinner>
        </div>
    }
</ion-content>
